*{font-family: pretendard;}
.his{margin-top: 15vh;}
.title{font-size:3.75vw; font-weight:800;}
.btn{color: #83A667; size: small; max-width: 5.7vw; max-height:5vh;}
.btn-text{font-size: 0.85vw;}
.since{margin-top:1.45vh; font-size:1.875vw;}

.year{font-size: 8vw; font-weight: 800; color: rgb(2, 214, 143);}
p{font-size: 1vw;}
.text-h4 {
  font-weight: 900;  font-size:3.75vw !important; margin-top: -1vh; margin-right: 8vw;}
.text-body-3{width:53vw; font-size:0.83vw;}
