.top-btn{
    color:#83A667;
    margin-right: 0.625em;
    padding:0.625em 1.25em;
    height:auto !important;
    font-size: clamp(10px, 0.83vw, 16px);
    text-transform: capitalize;
    border: 1px solid #83A667;
    border-radius: 50px;
    box-shadow: none;
    margin-top:clamp(15px,1.1979vw, 23px);

    &:focus,
    &:active,
    &:hover,
    &.active-btn{
        text-shadow:none;
        box-shadow:none;
        color:white;
        background-color: #83a667;
    }
}