.blog-page{
    box-shadow:none;
    width:100%;
    padding:10px;

    .v-card-title{margin:0; padding:0;}
    .v-card-subtitle{
        margin-top:clamp(0px, 1.3021vw, 30px);
        margin-bottom:clamp(0px, 2.6042vw, 44px);
    }

    .v-card-text{
        padding-top:clamp(44px, 3.6458vw, 70px);
        padding-bottom:clamp(40px, 3.125vw, 60px);
        padding-left:clamp(10px, 2.6042vw, 50px);
        padding-right:clamp(10px, 2.6042vw, 50px);
        line-height:150%;
    }
}