.notice-card{


    .notice-tag{
        padding:6px 10px;
        color: #83A667;
        border:1px solid #83A667;
        display:inline-block;
    }

    v-card-title{
        font-size:1.25vw;
    }
}

