.notice-card{

    height:37.04vh !important;
    border:1px solid #d9d9d9 !important;

    .notice-tag{
        padding:6px 10px;
        color: #83A667;
        border:1px solid #83A667;
        display:inline-block;
    }
}

