.v-row{border:1px solid red;}

.top-title{ margin-top: 200px;
  @media (max-width: 960px){margin-top: 142px;}
}

.bottom-title{margin-bottom:100px;
  @media (max-width:960px){margin-bottom:70px;}
}

.top-line{margin-bottom:36px;
  @media (max-width:960px){margin-bottom:30px;}
}

.m100{margin-bottom:100px;}