html, html *{
    box-sizing: border-box;
    margin:0; padding:0;
    border:0; outline:0;
    font-size:100%;
    font-family:sans-serif;
    vertical-align:baseline;
    transition: all .5s;
}

a{color:inherit;}
ul, ol, li{display:block; list-style:none;}
.v-btn{letter-spacing:0;}